*,
*::before,
*::after {
    box-sizing: border-box;

}
ul{
    list-style: none;
   padding: 0;
}
:root{

    --contrast-color:hsl(198, 76%, 41%); 
    --contrast-sec-color:#45C4B0; 
    /* --font-light-color:rgb(212, 247, 216);  */
    --font-light-color:hsl(127, 20%, 95%);
    --font-dark-color:#012030; 
    --main-bg-color:hsl(91, 10%, 90%); 
    --sec-bg-color:hsl(171, 45%, 95%); 
}


body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    
    /* only for testing */
    gap: 10px;
    color: var(--font-dark-color);
    font-family: Roboto;
}
.header{
    background-color: var(--sec-bg-color);
    grid-column: 2/-1;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 3fr 2fr;
    padding: 2% 4%;
}
.sidebar{
    background-color:var(--contrast-color);
    grid-column: 1;
    grid-row: 1/ -1;
}
.content{
    background-color: var(--main-bg-color) ;
    grid-column: 2;
    grid-row: 2;
}
.info{
    background-color: var(--main-bg-color);
    grid-column: 3;
    grid-row: 2;
}


.icon-small{
    width: 1.5rem;
}
.profile-img{
    width: 70%;
}
.icon-btn{
    border: none;
    background-color: inherit;
}
.icon-btn img:hover,
.icon-btn img:focus
{
    transform: scale(1.1);
}


.searchbar-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.searchbar-container label{
    display: flex;
}
.searchbar-container input{
    font-size: 1.5rem;
    border-radius: 30px;
    border: none;
    background-color: var(--main-bg-color);
    padding: 5px;
    margin: 0 15px ;
}
.profile-container{
    display: flex;
    gap:15px;
    align-items: center;
    justify-content: flex-end;
}
.profile-pic{
    background-color:lightblue ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-container{
    display: flex;
}
.welcome-container .container *{
    margin: 10px;
}
.bigger-pic{
    height: 75px;
    width: 75px;
}
 .btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
 }
 .btn-container button{
    border: none;
    background-color: var(--contrast-color);
    color: var(--font-light-color);
    font: inherit;
    font-size:1rem;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bolder;    
}
.btn-container button:hover,
.btn-container button:focus{
    transform: scale(1.1);
}
.sidebar{
    color:var(--font-light-color);
    fill: var(--font-light-color);
    padding: 15px;
}
.nav-heading{
    display: flex;
    font-size: 2rem;
    align-items: center;
    font-weight: bold;
    
}
.sidebar svg{
    width:2.5rem;
    margin-right:7px ;
}
.nav-list{
    margin:4rem 0;
}
.sidebar ul li {
    
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    font-weight: bold;
    margin-left:10px ;
    gap: 10px;
    margin-top:1.5rem ;
}
.sidebar ul svg{
    width: 1.5rem;
}